@import '../styles/styles.scss';

.wrapper {
    background-color: $black;
    height: 100vh;
    position: relative;
    width: 100%;
}

.card {
    background-color: rgb(255, 230, 192);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    width: 420px;
    cursor: pointer;
    height: 300px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.containerVideo {
    height: 60%;
    width: 100%;
}

.bottom {
    height: 40%;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $white;

    .left {
        padding: 1rem;
        width: 40%;
        .title {
            font-weight: bold;
            font-size: 2.2rem;

            span {
                font-weight: 200;
                font-size: 1rem;
            }
        }

        .genre {
            font-size: 1rem;
        }
    }

    .right {
        flex: 1;
        padding: 1rem;
    }
}

.btnContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    height: 3rem;
}

.deleteContainer {
    background-color: $red;
    border-radius: 8px;
    padding: .5rem;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.navigateContainer {
    background-color: rgb(52, 164, 155);
    border-radius: 8px;
    padding: .5rem;
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

// .listEpisodes {
//     //border: 2px solid green;
//     height: 100%;
//     display: flex;
//     flex-wrap: wrap;
//     padding: 0;
//     gap: 15px;
//     overflow-y: auto;
// }

// .EBWrapper {
//     border: 2px solid rgb(95, 95, 95);
//     border-radius: 8px;
//     width: 14%;
//     height: 50px;
//     background-color: #1b1b1b;
//     position: relative;
// }

// .EBWrapper_animate {
//     border: 2px solid rgb(95, 95, 95);
//     border-radius: 8px;
//     width: 14%;
//     height: 50px;
//     background-color: #1b1b1b;
//     position: relative;
//     animation: tilt-shaking 0.3s infinite;
// }

.EDWrapper {
    border: 2px solid $gray;
    border-radius: 8px;
    width: 100%;
    padding: 1rem;
    background-color: #1b1b1b;
    position: relative;
    p{
        font-weight: bold;
        span{
            font-weight: normal;
        }
    }
}

.EDWrapper_animate {
    border: 2px solid $gray;
    border-radius: 8px;
    width: 100%;
    padding: 1rem;
    background-color: #1b1b1b;
    position: relative;
    animation: tilt-shaking 0.3s infinite;
    p{
        font-weight: normal;
        span{
            font-weight: bold;
        }
    }
}


.EBWrapper_create {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff11;
    border: 2px solid #ffffff11;
    border-radius: 8px;
    width: 14%;
    height: 50px;
    cursor: pointer;
}

.DEWrapper {
    background-color: $white;
    color: $red;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -5px;
    right: -5px;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(.5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-.5deg); }
    100% { transform: rotate(0deg); }
  }